  
.newsList {
  margin-bottom: 1rem;
  padding: 1rem;
  border: 1px solid black;
  border-radius: 10px;
  background-color: rgb(241, 240, 219);
  color: black;
  line-height: 25px;
  width: 90%;

  
  
}

.newsLink {
  color: black;
}

.newsLink_AllarFrettir {
  font-weight: bold;
  text-decoration: none;
  line-height: 50px;
  color: black;
}